//COLORS
$main-colour:#B76D68;
$secondary-colour:#B76D68;
$accent-color: #3c6e71;
$background-color: #EAE7DC; 
$project-info: #e2d4b7;

$night-mode-background-color:#070029;
$nm-text-color:#e7deda;

//FONTS
$subheadingfont: 2.5rem;


//BREAK POINTS
$tablet: 600px;
$tablet-wide: 800px;
$desktop: 900px;
$desktop-wide: 1200px;